<div class="review-form">
    <h3>Avliar</h3>

    <div class="rating">
        <label for="mat-slider">Classificação: {{ rating }}</label>
        <mat-slider min="1" max="5" step="0.5">
            <input matSliderThumb [(ngModel)]="rating">
        </mat-slider>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Crítica</mat-label>
        <textarea matInput [(ngModel)]="texto" rows="5" placeholder="Escreva a sua crítica"></textarea>
    </mat-form-field>

    <button (click)="submit()">Submeter</button>
</div>