<header class="topbar">
    <a routerLink="/" class="logo" (click)="clearSearch()">
        <img class="logo-normal" src="logo/flogo.png" alt="Logo do Filmógrafo">
        <img class="logo-hover" src="logo/flogo_amarelo.png" alt="Logo do Filmógrafo">
    </a>
    
    <div class="search-bar">
        <svg class="search-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="Icone de pesquisa">
            <path d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <input type="text" placeholder="Pesquisar" [(ngModel)]="query" (keyup.enter)="search()">
    </div>
    
    <div class="topbar-icons">
        <svg class="icon" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-label="Icone de adição">
            <path d="M6 12H18M12 6V18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <app-dropdown-menu class="icon-button" [options]="accountOptions">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="Icone de conta">
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
            </svg>
        </app-dropdown-menu>
    </div>
</header>